<!-- <mat-tab-group *ngIf="!onGoingTraning">
    <mat-tab label="New Exercise">
        <app-new-training (trainingStart)="onGoingTraning = true"></app-new-training>
    </mat-tab>
    <mat-tab label="Past Excerise">
        <app-past-training></app-past-training>
    </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="onGoingTraning" (trainingExit)="onGoingTraning = false"></app-current-training> -->

<mat-tab-group *ngIf="!onGoingTraning">
    <mat-tab label="New Exercise">
        <app-new-training></app-new-training>
    </mat-tab>
    <mat-tab label="Past Excerise">
        <app-past-training></app-past-training>
    </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="onGoingTraning"></app-current-training>